[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = rocko
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi
	branch = master
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = rocko
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.36
[submodule "meta-containos"]
	path = meta-containos
	url = https://gitlab.com/containos/meta-containos.git
	branch = rocko
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = rocko
